@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans|Bree+Serif);

$offwhite:				#EEE8D6;
$darkblue:				#022933;
$yellow:        		#FFBA00;
$red:				    #D14348;
$green:         		#548C27;
$orange:        		#F39856;
$blue:          		#0076A3;
$purple:        		#6D73C2;

$color-main:		    $darkblue;
$color-background:		$offwhite;
$color-headlines:   	$red;


$main-font: 'Merriweather Sans', Helvetica, sans-serif;
$font-highlight: 'Bree Serif', Helvetica, sans-serif;